---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

import { Image } from "astro:assets";
import logo from "../../assets/reggiani/logo.png";
import {
  useTranslatedPath,
  getLangFromUrl,
  useTranslations,
} from "@i18n/utils";
import LanguagePicker from "@components/languagePicker.astro";

import { languages, type LangKey } from "@i18n/ui";

type MenuItem = {
  title: LangKey;
  path: string;
};

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
export const menuitems: MenuItem[] = [
  {
    title: "nav.home",
    path: "/",
  },

  {
    title: "nav.about",
    path: "/about",
  },
  {
    title: "nav.testimonials",
    path: "/testimonials",
  },
  {
    title: "nav.our-sites",
    path: "/production-sites",
  },

  {
    title: "nav.contact",
    path: "/contact",
  },
];
---

<header
  class={`flex flex-col  bg-[#E6D9C5] lg:flex-row justify-between items-center py-4  px-5 top-0 z-[100] fixed w-full -translate-x-1/2 left-1/2 max-w-screen-4xl `}>
  <Astronav>
    <div
      class="flex w-full lg:w-auto items-center justify-between bg-transparent">
      <a href={translatePath("/")} class="text-lg">
        <Image src={logo} alt="S.T.D. Reggiani" class={"h-12 lg:h-16 w-auto"} />
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-3">
        {
          menuitems.map((item, index) => (
            <>
              <li>
                <a
                  href={translatePath(item.path)}
                  class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                  <span> {t(item.title)}</span>
                </a>
              </li>
            </>
          ))
        }

        <Dropdown
          title={t("nav.language")}
          children={Object.entries(languages).map(([lang, label]) =>
            // <li>
            //   <a href={translatePath("/", lang)}>{label}</a>
            // </li>
            ({ title: label, path: translatePath("/", lang) })
          )}
        />
      </ul>
    </MenuItems>
  </Astronav>
</header>
