---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Über uns</Fragment>
      <Fragment slot="desc">Styling - Technology - Desing</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 space-y-12">
      <p class="text-lg leading-relaxed text-slate-500">
        Unsere Geschichte geht auf das Jahr 1983 zurück, als STD Reggiani, ein
        Akronym, das für Styling, Technologie und Design steht, damit begann,
        für große internationale Marken Bekleidung zu entwerfen und deren
        Produktion zu leiten. Der Gründer Gianfranco Reggiani hat sich immer und
        sofort durch seine außergewöhnlichen Fähigkeiten ausgezeichnet, nicht
        nur als Unternehmer, sondern auch als Designer und Produktkenner, der
        mit vielen internationalen Marken zusammenarbeitet.
      </p>
      <div class="space-y-3">
        <p class="text-lg leading-relaxed text-slate-500">
          Seit 2004 sind wir in China präsent, zunächst mit einem Joint Venture
          und später, seit nunmehr fast 19 Jahren, mit einem Unternehmen in
          China, das vollständig von uns geführt wird, um einen innovativen Raum
          zu schaffen, der in der Lage ist, unsere Dienstleistungen und
          Technologien auf ein internationales Niveau zu bringen, also:
        </p>
        <ol
          class="list-decimal list-inside text-lg leading-relaxed text-slate-500">
          <li>
            Die Entscheidung, ein Unternehmen zu betreiben, das zu 100 % von
            unseren Ideen beeinflusst ist.
          </li>
          <li>
            2. Ausbildung von Technikern und Managern vor Ort mit
            Fachkenntnissen in:
            <ol class="list-[upper-roman] list-inside ml-6">
              <li>
                <span class="font-bold">Hohe Qualitätsstandards</span>, mit der
                Einführung des Konzepts des „Total Quality System“ und des
                technischen Designs als Lesart des Produktinhalts
              </li>
              <li>
                Einführung einer <span class="font-bold"
                  >täglichen Überwachung der Arbeitsabläufe
                </span> in jedem Bereich: von der Eingabe bis zur Produktion, Kontrolle,
                Verpackung und Lieferung.
              </li>
            </ol>
          </li>
        </ol>
      </div>
      <p class="text-lg leading-relaxed text-slate-500">
        Das globale Wachstum, das wir im Laufe der Jahre erfahren haben, hat es
        uns ermöglicht, weltweit zu wachsen und einen großen Wissensschatz und
        ein beträchtliches Know-how anzuhäufen, das uns in die Lage versetzt,
        Probleme zu lösen und strategische Wege zu wählen, um auf
        internationaler Ebene von der Planung bis zur Produktion tätig zu sein.
      </p>

      <!-- A video in a video tag -->
    </div>
  </Container>
</Layout>
